<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <form method="POST">
            <%- include('partials/_field.html.ejs', {
                type:'text',
                field:'username',
                error:locals.errors && errors['username']
            })%>
            <%- include('partials/_field.html.ejs', {
                type:'text',
                field:'email',
                error:locals.errors && errors['email']
            })%>
            <%- include('partials/_field.html.ejs', {
                type:'password',
                field:'password',
                error:locals.errors && errors['password']
            })%>
            <%- include('partials/_field.html.ejs', {
                type:'password',
                field:'password_confirmation',
                error:locals.errors && errors['password_confirmation']
            })%>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
